.menu-display {
  flex: 4;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .dashboard-header {
    display: flex;
    justify-content: space-between;

    input[type="text"] {
      width: 350px;
      height: 30px;
      border-radius: 10px;
      outline: 0;
      border: 1px solid #ffffff;
      margin-left: 10px;
      padding-left: 10px;
    }

    .dashboard-header-right {
      display: flex;
      // justify-content: space-evenly;
      margin-right: 20px;

      button {
        width: 200px;
        height: 30px;
        border: 1px solid $button;
        border-radius: 10px;
        line-height: 10px;
        margin-right: 10px;

        &:hover {
          border: 1px solid $icon-hover;
        }
      }

      .icons {
        display: flex;
        font-size: 20px;
        margin: 5px 10px;

        .icon-left:hover {
          color: $icon-hover;
        }

        .icon-right {
          margin-left: 20px;

          &:hover {
            color: $icon-hover;
          }
        }
      }
    }
  }
}
